:root {
  --magenta: #EA178C;
  --light: #ffffff;
  --dark: #000000;
  --grey: #f4f4f4;
  --dark-grey: #888;
  --purple: #9f7fdf;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--grey);
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 0;
  -webkit-transition: height .5s ease;
  transition: height .5s ease;
}

.nav__logo {
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  margin-left: -4.5rem;
  position: fixed;
  top: 50px;
  height: 74px;
  width: 75px;
  background-color: var(--light);
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: 999;
  outline: none;
  color: var(--magenta);
}

.nav__logo:hover {
  background-color: var(--magenta);
  color: var(--light);
}

.nav__logo--hover {
  -webkit-box-shadow: inset 0 1rem 0 4rem var(--grey);
          box-shadow: inset 0 1rem 0 4rem var(--grey);
}

.nav__logo--secondary {
  color: var(--magenta);
  font-size: 2rem;
  font-weight: bold;
}

.nav__links {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.nav__links li {
  position: relative;
  margin: 2rem;
}

.nav__links li::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 50px;
  background-color: var(--dark);
  bottom: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav__links li a {
  font-size: 1.5rem;
  color: var(--dark);
  text-decoration: none;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.nav__links li a:hover {
  color: var(--magenta);
}

.nav__links li a:hover span {
  color: var(--dark);
}

.nav__links li a span {
  font-size: 14px;
}

.nav__tagline {
  margin-top: 2rem;
  margin-left: -4.5rem;
  display: none;
}

.nav__tagline a {
  font-weight: bold;
  text-decoration: none;
  color: var(--dark);
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.nav__tagline a:hover {
  color: var(--magenta);
}

.nav__tagline a span {
  color: var(--magenta);
}

.section__container {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.section__container .section {
  scroll-snap-align: start;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow .4s ease;
  transition: -webkit-box-shadow .4s ease;
  transition: box-shadow .4s ease;
  transition: box-shadow .4s ease, -webkit-box-shadow .4s ease;
}

.section__container .section__num {
  position: absolute;
  left: -150px;
  font-weight: bold;
  font-size: 1.5rem;
}

.section__container .section__num::after {
  content: '';
  width: 100px;
  background-color: var(--light);
  height: 1px;
  position: absolute;
  top: 10px;
  margin-left: 10px;
}

.section__container .section__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 500px;
  position: relative;
}

.section__container .section__detail__tag {
  font-size: 1.5rem;
  font-weight: bold;
}

.section__container .section__detail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__container .section__detail__container h1 {
  font-size: 4rem;
  padding-bottom: 50px;
  margin-bottom: 2rem;
  position: relative;
}

.section__container .section__detail__container h1::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: var(--light);
  left: 0;
  bottom: 0;
}

.section__container .section__detail__container p {
  max-width: 400px;
  line-height: 1.5rem;
}

.section__container .section__zero {
  background-color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section__container .section__zero h1 {
  font-size: 18rem;
  font-weight: bold;
}

.section__container .section__zero__link {
  position: absolute;
  text-decoration: none;
  color: var(--dark);
  bottom: 100px;
}

.section__container .section__zero__line {
  position: absolute;
  height: 50px;
  width: 1px;
  background-color: var(--dark);
  bottom: 0;
}

.section__container .section__one {
  background-color: var(--dark);
  color: var(--light);
}

.section__container .section__two {
  color: var(--light);
  background: url(../img/HugeSpotify.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section__container .section__three {
  background: url(../img/Hugeinc_YouTube_Final.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section__container .section__three .section__num::after {
  background-color: var(--dark);
}

.section__container .section__three .section__detail__container h1::after {
  background-color: var(--dark);
}

.section__container .section__four {
  background: url(../img/Hugeinc_AIGHugeinc_1920x1080_.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light);
}

.section__container .section__five {
  background: url(../img/Hugeinc_CovidHugeinc_1920x1080_Covid.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--purple);
}

.section__container .section__five .section__num::after {
  background-color: var(--purple);
}

.section__container .section__five .section__detail__container h1::after {
  background-color: var(--purple);
}

.section__container .footer {
  scroll-snap-align: start;
  height: 200px;
  background-color: var(--dark);
  color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__container .footer__container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__container .footer__container__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__container .footer__container__logo h1 {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid var(--light);
  font-weight: bold;
}

.section__container .footer__container__logo p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.section__container .footer__container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--dark-grey);
  text-align: right;
}

.section__container .footer__container__links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.section__container .footer__container__links ul li {
  margin-right: 16px;
}

.section__container .footer__container__links ul li:last-child {
  margin-right: 0;
}

.section__container .footer__container__links ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-grey);
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.section__container .footer__container__links ul li a:hover {
  color: var(--light);
}

.section__container .footer__container__links p {
  margin-bottom: 8px;
}
/*# sourceMappingURL=style.css.map */